h1 {
    color: white;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 68pt;
}

.pointer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 4px;
    /* background: rgb(255, 255, 255); */
    pointer-events: none;
    border-radius: 10px;
    box-sizing: border-box;
    transition: 0.01s;
    animation-name: spin;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
body {
    background-color: rgb(41, 41, 41);
    cursor: none; 
}

@keyframes spin {
    from {
        transform:rotateZ(0deg);
    }
    to {
        transform:rotateZ(360deg);
    }
}